* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col {
    /* background-color: orange; */
    /* height: 100px; */
}

.wd-100 {
    width: 100%;
}

.black-text {
    color: #000;
}

.white-text {
    color: #ffffff;
}

.grey-text {
    color: #6e6e6e;
}

.grey-bgr {
    background-color: #ebebeb;
}

.black-bgr {
    background-color: #000;
}

.black-bgr {
    background-color: #000;
}

.text-spac {
    letter-spacing: 0.5px;
}

.font-24{
    font-size: 24px;
}

.font-18{
    font-size: 18px;
}

.font-15{
    font-size: 15px;
}

.font-12{
    font-size: 12px;
}

.font-9{
    font-size: 9px;
}

.font-wei-500{
    font-weight: 500;
}

.font-wei-400{
    font-weight: 400;
}

.family-mont {
    font-family: montserrat, sans-serif;
}

.text-center {
    text-align: center;
}

/* DETAILED */
/* NAVIGATION */

#nav {
    position: fixed;
}

.logo {
    padding: 26px 12px;
}

.content__table {
padding: 64px 0;
}

.content__table li {
    list-style: none;
}

.content__shirt > li > a{
    color: #686868;
}

.content__table li:hover {
    background-color: #ccc;
    color: #000;
}

.content__table a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.content__table > li {
    color: #b4b4b4;
}

.content__navig > li > a{
    color: #000000;
}

.extend > ul {
    padding-left: 12px;
}
.extend > ul li:first-child a{
    color: #000;
    background-color: #ebebeb;
}

.extend > ul :not(li:first-child) a{
    color: #686868;
}

.extend-icon {
    font-size: 14px;
}

.right-icon {
    font-size: 14px;
    padding-right: 2px;
}

/* BODY */
/* HEADER */

.header__row {
    padding: 26px 0;
}

.header-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-icon > i{
    padding-left: 15px;
}

.number-items {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* BODY */

#sub {
/* overflow: hidden; */
}

.picture > img{
    width: 100%;
}

.pro-name {
    margin-top: 15px;
}

.pro-price {
    margin-bottom: 15px;
    font-weight: bold;
}

/* SUBCRIBE */

.sub {
    padding-top: 32px;
    padding-bottom: 32px;
}

.sub__head {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.sub__des {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub__email {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub__enter-email {
    width: 100%;
    padding: 8px;
}

.sub__btn {
    padding: 8px 16px;
    color: #ffffff;
    background-color: orangered;
}

.sub__btn:hover {
    padding: 8px 16px;
    color: #000;
    background-color: #dddddd;
}

/* ABOUT */
#about {
    /* overflow: hidden; */
}

.about__row {
    padding-top: 64px;
    padding-bottom: 64px;
}

.contact {

}

.contact__head {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact__des {
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact__form {
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact__form-input {
    margin-top: 12px;
    margin-bottom: 12px;
}

.text-box {
    padding: 8px;
    border: #afafaf solid 1px;
    color: #999999;
}

.contact__btn {
    padding: 8px 16px;
    border: none;
}

.contact__btn:hover {
    color: #000000;
    background-color: #c5c5c5;
}

.accept__list > li,
.about__list > li {
    list-style: none;
    text-align: center;
    margin-top: 12px;
}

.accept__list > p,
.store__list > p {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.accept__list i,
.store__list i {
    margin-right: 10px;
    
}

.social {
    margin-top: 25px;
}

/* FOOTER */
.footer__des {
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer__des > a{
    color: #ffffff;
}