* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.wd-100 {
    width: 100%;
}

.black-text {
    color: #000 !important;
}

.white-text {
    color: #ffffff;
}

.grey-text {
    color: #6e6e6e;
}

.white-bgr {
    background-color: #fff;
}

.grey-bgr {
    background-color: #ebebeb;
}

.black-bgr {
    background-color: #000;
}

.text-spac {
    letter-spacing: 0.5px;
}

.font-24{
    font-size: 24px;
}

.font-18{
    font-size: 18px;
}

.font-15{
    font-size: 15px;
}

.font-12{
    font-size: 12px;
}

.font-9{
    font-size: 9px;
}

.font-wei-500{
    font-weight: 500;
}

.font-wei-400{
    font-weight: 400;
}

.family-mont {
    font-family: montserrat, sans-serif;
}

.text-center {
    text-align: center;
}

/* DETAILED */
/* NAVIGATION */

#nav {
    position: fixed;
}

.logo {
    padding: 26px 12px;
}

.content__table {
padding: 64px 0;
}

.content__table li {
    list-style: none;
}

.content__shirt a{
    color: #686868;
}

.content__table > li:hover > a{
    background-color: #ccc;
    color: #000;
}

.content__table a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.content__table > li {
    color: #b4b4b4;
}

.content__navig > li > a{
    color: #000000;
}

.extend > ul {
    padding-left: 12px;
}

.extend > ul li:first-child a{
    color: #000;
    background-color: #ebebeb;
}

.extend > ul :not(li:first-child) a{
    color: #686868;
}

.extend ul li:hover a{
    background-color: #ccc;
    color: #000;
}

.extend__btn:hover a{
    background-color: #ccc;
    color: #000;
}

.extend-icon {
    font-size: 14px;
}

.extend__checkbox:checked + ul{
    display: none;
}

.right-icon {
    font-size: 14px;
    padding-right: 2px;
}

/* BODY */
/* HEADER */

.header__row {
    padding: 26px 0;
}

.header-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-icon > i{
    padding-left: 15px;
}

.number-items {
    margin-top: 15px;
    margin-bottom: 15px;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.news__content {
    z-index: 1;
    position: fixed;
    top: calc(50% - 128px);
    left: calc(50% - 418px);
    width: 836px;
    max-width: 100%;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 32px;
}

.news__close-btn {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 25px;
    padding: 9px;
}

.news__close-btn:hover {
    background-color: #ccc;
}

.news__content-head {
    letter-spacing: 5px;
    font-weight: 400;
}

.news__content-des {
    padding-top: 15px;
    padding-bottom: 15px;
}

.news__checkbox ~ div {
    display: none;
}

.news__checkbox:checked ~ div{
    animation: fadeIn 1s ease;
    display: flex;
}

/* BODY */

#sub {
/* overflow: hidden; */
}

.banner {
    position: relative;
}

.picture {
    position: relative;
}

.picture > img{
    width: 100%;
}

.picture__des {
    position: absolute;
    top: 45px;
    left: 30px;
}

.picture__des > h1 {
    font-size: 64px;
}

.picture__des > h2 {
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 30px;
}

.picture__des > a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 12px 24px;
}

.picture__des > a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #ccc;
}

.product {
    position: relative;
    top: 0;
    right: 0;
}

.product__new {
    position: absolute;
    padding: 4px 8px;
    font-weight: 300;
}

.pro-name {
    margin-top: 15px;
}

.pro-price {
    margin-bottom: 15px;
    font-weight: bold;
}

.picture__buy {
    display: none;
}

.picture__buy:hover h3{
    background-color: #ccc;
    color: #000;
}

.picture__buy h3 {
    padding: 8px 16px;
}

.product:hover .picture__buy {
    display: block;
    position: absolute;
    top: calc(50% - 17px);
    right: calc(50% - 60px);
}

/* SUBCRIBE */

.sub {
    padding-top: 32px;
    padding-bottom: 32px;
}

.sub__head {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.sub__des {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub__email {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.sub__enter-email {
    width: 100%;
    padding: 8px;
}

.sub__btn {
    padding: 8px 16px;
    color: #ffffff;
    background-color: orangered;
    cursor: pointer;
    border: none;
}

.sub__btn:hover {
    padding: 8px 16px;
    color: #000;
    background-color: #dddddd;
}

/* ABOUT */
#about {
    /* overflow: hidden; */
}

.about__row {
    padding-top: 64px;
    padding-bottom: 64px;
}

.contact {

}

.contact__head {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact__des {
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact__form {
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact__form-input {
    margin-top: 12px;
    margin-bottom: 12px;
}

.text-box {
    padding: 8px;
    border: #afafaf solid 1px;
    color: #999999;
}

.contact__btn {
    padding: 8px 16px;
    border: none;
}

.contact__btn:hover {
    color: #000000;
    background-color: #c5c5c5;
    cursor: pointer;
}

.accept__list > li,
.about__list > li {
    list-style: none;
    text-align: center;
    margin-top: 12px;
}

.accept__list > p,
.store__list > p {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.accept__list i,
.store__list i {
    margin-right: 10px;
    
}

.social {
    margin-top: 25px;
}

/* FOOTER */
.footer__des {
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer__des > a{
    color: #ffffff;
}

/* ANIMATION */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}